body {
    background-color: #1e1e1e;
    color: #21f403;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.terminal-window {
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ffffff;
    width: 500px;
    overflow: hidden;
}

.title-bar {
    background-color: #c4c4c4;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4b4b4b;
}

.buttons {
    display: flex;
}

.close, .minimize, .maximize {
    width: 15px;
    height: 15px;
    background-color: #ff5f57;
    border-radius: 50%;
    margin-right: 5px;
}

.minimize {
    background-color: #ffbd2e;
}

.maximize {
    background-color: #27c93f;
}

.terminal-content {
    padding: 10px;
    color: #21f403;
}

.input-line {
    display: flex;
    align-items: center;
}

.command {
    margin: 0;
    padding: 5px 0;
}

.prefix {
    margin-right: 5px;
}

input {
    background-color: #000000;
    border: none;
    color: #21f403;
    outline: none;
    flex-grow: 1;
}
