html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background: #fff;
    color: #333;
}

.container {
    width: 80%;
    /* Add max-width if you want to limit the content size */
    max-width: 600px;
    margin: 0 auto;
    /* Center text alignment for header */
    text-align: center;
}

header h1 {
    font-size: 40px;
    margin: 0;
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 3.0rem;
    color: #413F3D;
    line-height: 4.8rem;
    text-align: center;
}

section {
    margin-top: 20px;
}

section h2 {
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    font-family: 'Courier New';
}

p {
    text-align: left;
}

ul {
    /*list-style: none;*/
    /*padding: 0;*/
    text-align: left;  Align text to the left within the list 
}

ul li {
    margin-bottom: 10px;
    line-height: 1.6;
}

ul li a {
    color: #000;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}
